{% extends "SoilNotificationBundle:notification:mail.layout.html.twig" %}

{% block content %}

    <div>
        Hi, {{ subscriber.displayName | raw }}!
    </div>

    <div>
    User <b>{{ author.displayName }}</b> was commented entity

    <a href="{{ entity._origin }}">"{{ entity.name | raw }}"</a>
     at {{ comment.creationDate }}

    </div>

    <div>
    He wrote: {{ comment.commentText }}
    </div>




{% endblock %}